name: Lint

on:
    pull_request:
    workflow_dispatch:
  
jobs:
  lint-code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: golangci/golangci-lint-action@v5.1.0
      with:
        version: latest
        args: --verbose --timeout=3m
  lint-language:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: get-woke/woke-action@v0
      with:
        fail-on-error: true
